*{
    font-size: 32px;
}
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

header {
    width: 100%;
    height: 2.1875rem;
    background-color: #02A28F; 
    padding: 0.5rem 4.875rem 0.5rem 4.875rem;
}

header h1{
  font-size: 1.125rem;
  color: #FFFFFF;
}

main {
    padding: 1.25rem 4.875rem 1.25rem 4.875rem;
}

.top-content {
    display: flex;
    gap: 0.625rem;
    margin-bottom: 0.625rem;
}

.featured-post {
    position: relative;
    width: 23.25rem;
    height: 12.375rem;
    box-shadow: 0px 0.3125rem 0.625rem 0px #0000001A;
    border-radius: 0.3125rem;
}

.featured-post img {
    width: 100%;
    height: 100%;
    border-radius: 0.25rem;
    background: linear-gradient(180deg, rgba(102, 102, 102, 0) 0%, #000000 100%), url(./assets/images/banner.png);
    background-position: center;
    background-size: cover;
    border-radius: 0.3125rem;
}

.featured-content {
    position: absolute;
    bottom: 0.625rem;
    left: 0.75rem;
    color: #FFFFFF;
    border-radius: 0.3125rem;
}

.featured-content span{
  font-size: 0.5rem;
  margin: 0.15625rem;
}

.featured-content h2{
  font-size: 0.9375rem;
  margin: 0.15625rem;
}

.featured-content p{
  font-size: 0.5rem;
  margin: 0.15625rem;
}

.popular-posts {
    width: 11,25rem;
    height: 12.375rem;
    background-color: #FFFFFF;
    border-radius: 0.25rem;
}

strong{
    font-size: 0.5rem;
}

.popular-posts:first-child{
  padding: 0;

}

.popular-posts-title{
  background: #02A28F;
  width: 10.9375rem;
  height: 1.5rem;
  border-radius: 0.3125rem;
  color: #FFFFFF;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left:0.9375rem;
  margin-bottom: 0.3125rem;
  box-shadow: 0px 0.3125rem 0.3125rem 0px #0000001A;
}

.popular-posts-title h2{
    font-size: 0.625rem;
}

.popular-post {
    display: flex;
    align-items: flex-start;
    width: 11.875rem;
    height: 3.28125rem;
    padding: 0;
    margin-bottom: 0.3125rem;
    border-radius: 0.3125rem;
    box-shadow: 0px 0.3125rem 0.3125rem 0px #0000001A;
}

.popular-post img {
    width: 4.125rem;
    height: 2.1875rem;
    object-fit: cover;
    border-radius: 0.125rem;
    margin-right: 0.3125rem;
    margin-top: 0.46875rem;
    margin-left: 0.3125rem;
    
}

.popular-post h3{
    margin: 0;
    font-size: 0.4375rem;
    margin-top: 0.46875rem;
}

time{
    font-size: 0.4375rem;
}

.content {
    display: flex;
    gap: 0.625rem;
}

.recent-posts {
    width: 23.25rem;
    
}
.recent-posts-title{
    background: #02A28F;
    width: 21.34375rem;
    height: 1.75rem;
    border-radius: 0.3125rem;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    margin-bottom: 0.3125rem;
    box-shadow: 0px 0.3125rem 0.3125rem 0px #0000001A;
}

.recent-posts h2{
    font-size: 0.625rem;
}

.recent-posts a{
    color: #FFFFFF;
    font-size: 0.4375rem;
}

.posts-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.625rem;
}

.post-content{
    margin: 0 0.3125rem 0 0.3125rem;
}

article {
    width: 11.25rem;
    height: 12.8125rem;
    background-color: white;
    border-radius: 0.25rem;
    overflow: hidden;
    box-shadow: 0px 0.3125rem 0.625rem 0px #0000001A;
}

article img {
    width: 11.25rem;
    height: 5.96875rem;
    object-fit: cover;
}

article span{
    color: #02A28F;
    font-size: 0.4375rem;
}

.gray{
   color:#616161 ;
   margin: 0; 
}

article p{
    font-size: 0.4375rem;
    margin-top: 0.3125rem;
    margin-bottom: 0;
}

article h3{
    font-size: 0.625rem;
    margin: 0.125rem 0 0.125rem  0;
}

article time{
    margin-bottom: 0;
}


.categories {
    width: 11.78125rem;
    height: 5.75rem;
    background-color: #FFFFFF;
}

.categories-content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: #616161;
}

.categories p{
    margin: 0.3125rem 0;
    font-size: 0.5625rem;
}

.categories p:hover{
    cursor: pointer;
}

.categories p:last-child{
    margin: 0;
}

.categories span{
    margin: 0.3125rem 0;
    display: flex;
    justify-content: flex-end;
    font-size: 0.5625rem;
}

.categories h2{
    background: #02A28F;
    width: 10.9375rem;
    height: 1.5rem;
    border-radius: 0.3125rem;
    color: #FFFFFF;
    font-size: 0.625rem;
    display: flex;
    align-items: center;
    padding-left: 0.9375rem;
    margin: 0;
    margin-bottom: 0.3125rem;
    box-shadow: 0px 0.3125rem 0.3125rem 0px #0000001A;
}

footer {
    height: 1.5rem;
    background-color: #009688;
    color: white;
    text-align: center;
    padding: 0.15625rem 0;
    margin-top: 0.625rem;
}

footer p{
    font-size: 0.4375rem;
    }

@media (max-width: 768px) {
    header{
        padding: 0.15625rem;
    }
    header h1{
        text-align: center;
        font-size: 0.75rem;
      }

    .top-content, .content {
        flex-direction: column;
        align-items: center;
    }
    main{
        padding: 0.625rem 0.15625rem 0.625rem 0.15625rem;
    }
    .featured-post, .recent-posts, .popular-posts,.popular-post, .categories, .recent-posts-title,.categories h2, .popular-posts-title, .post-grid-card, article img {
        width: 100%;
    }
    .popular-posts-title{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .categories h2{
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .featured-content h2{
        font-size: 0.75rem;
    }
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        
    }
    .recent-posts-title{
        display: flex;
        padding: 0 0.15625rem 0 0.15625rem;
    }

    article p{
        margin: 0.15625rem;
    }
}

@media (min-width: 769px) and (max-width: 1024px){

    main{
        padding: 0.625rem 0.15625rem 0.625rem 0.15625rem
    }
    .featured-post, .recent-posts, .popular-posts,.popular-post, .categories, .recent-posts-title,.categories h2, .popular-posts-title, .post-grid-card, article img {
        width: 100%;
        }

    .recent-posts-title{
        padding: 0.15625rem;
    }    
    .posts-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 0.625rem;
        
    }
}

@media (min-width: 1920px){
    .featured-post, .recent-posts, .popular-posts,.popular-post, .categories, .recent-posts-title,.categories h2, .popular-posts-title, .post-grid-card, article img {
    width: 100%;
    }
.recent-posts-title{
    padding: 0.15625rem;
}

.categories h2{
    padding-left: 0.3125rem;
}
.popular-posts-title{
    padding-left: 0.3125rem;
}
.popular-post{
    padding-right: 0.3125rem;
}
}

